@charset "UTF-8";
    .out{
      text-align: center;
      margin-top: 200px;
    }
    form div input, form div button{
      font-size: 1rem;
      font-weight: 70;
      padding: 1em;
      width: 50%;
      max-width: 500px;
      min-width: 400px;

      border-style: solid;
      border-width: 1px;
      border-color: rgba(204,204,204,.75);

      outline-width: 1px;
      outline-color: rgba(255,0,0,0.50);


    }
    .logo_form{
      display: inline-block;
    }

    button{
      color: white;
      background-color: red;
      font-weight: bold;
      font-size: 1.2rem;
      margin-top: 10px;
    }
    .login{
      width: 100%;
      margin-bottom: 20px;
    }
    .logo{
      padding: 10px;
      display:inline-block;
    }
    .form{
      padding: 10px;
    }
    .check{
      text-align: left;
      margin-left: 65px;
    }
    .join{
      margin-top: 50px;
    }
    a{
      text-decoration: none;
    }
    a:link{color: gray;}
    a:visited{color:gray;}
